
nav.sticky.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #353b48!important;
    position: fixed;
}
nav.navbar .left-toogle-button button{
    display: none;
}
button.navbar-toggler {
    background-color: #fff!important;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.navbar .logo img{
    width: 50px;
    transform: rotate(360deg);
}

.navbar .inner-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.toTop a {
    text-decoration: none;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

@media screen and (max-width:992px){
    .container-fluid {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:992px){
    nav.sticky.navbar.navbar-expand-lg.navbar-light.bg-light {
        flex-direction: row-reverse;
    }
    .toTop a {
        padding-left: 0px;
        padding-bottom: 15px!important;
        display: block;
    }
}
