.main-container-all {
    background-color: #f1f1f1;
}

.inner-width {
    width: 95%;
    margin: 0 auto;
    display: table;
}
.toTopLeft{
    display: none;
}
.navbar .navIcon{
    display: none;
}
.inner-width h1.section-title {
    padding: 20px 0;
    position: relative;
}
.inner-width h1.section-title::after {
    content: '';
    background-color: red;
    width: 100%;
    height: 3px;
}
/* ====================================
Home css
==================================== */

#home {
    height: 100vh;
    min-height: 500px;
    background-color: black;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: white;

}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

#home .content h1::after {
    content: " Neeraj";
    color: rgb(255, 217, 0);
    animation: textchange 10s linear infinite;

}

@keyframes textchange {
    50% {
        content: " A Frontend Developer";
    }

    100% {
        content: " A Good Learner"
    }
}

.social-icon a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.social-icon a:hover {
    color: #48dbfb;
}

#home .buttons {
    margin-top: 60px;
}

#home .buttons a {
    text-decoration: none;
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;

}

#home .buttons a:hover {
    background-color: #48dbfb;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    #home .content h1 {
        font-size: 50px;
    }
}


/* ====================================
About css
==================================== */

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-content img {
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
}

.about-text {
    flex: 1;
}

h1.section-title {
    font-size: 24px;
    text-align: center !important;
}

.about-text h3 {
    margin: 10px 0px;
    color: #444;
    font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;

}

.about-text p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
}

.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    width: calc(50% - 20px);
    margin: 15px 0;
}

.skill-info {
    display: flex;
    justify-content: space-between;
}

.skill-bar {
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;
}

.skill-bar::after {
    content: "";
    position: absolute;
    height: 6px;
    background-color: #42dbfb;
    width: 50%;
    bottom: 0;
}

.html:after {
    width: 70%;
}

.css:after {
    width: 75%;
}

.js:after {
    width: 70%;
}

.bootstrap:after {
    width: 60%;
}

.jquery:after {
    width: 50%;
}

.sass:after {
    width: 50%;
}

.photoshop:after {
    width: 40%;
}

.react:after {
    width: 60%;
}

.java:after {
    width: 30%;
}

/* ====================================
Service css
==================================== */
#services {
    background-color: #353b48;
    margin-top: 40px;
}

#services .section-title {
    color: #ffffff;
}

.service-section {
    background-color: #353b48;
}

section.dark {
    background-color: #353b48;
}

section.dark h1.section-title {
    color: #f1f1f1;
    font-size: 24px;
    padding-top: 25px;
}

section.dark .section-title::before {
    background-color: #f1f1f1;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}

.servicess {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: calc(30% - 20px);
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #f1f1f1;
    cursor: pointer;
    transition: .3s linear;
}

.service h4 {
    margin-bottom: 10px;
}

.service .icon {
    color: #48dbfb;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.service:hover {
    background-color: #039cbe;

}

.service:hover .icon {
    color: #fff;
}


/* ====================================
Education css
==================================== */

.time-line,
.hobbies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    width: calc(98% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}

.block::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.block::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #48dbfb;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}

.block h3 {
    font-size: 16px;
    margin: 10px 0;
}

.block p {
    font-size: 15px;
    color: #444;
}
/* ====================================
 Projects css
==================================== */

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

img.card-img-top {
    height: 200px;
}
.card.project{
    height: 404px;
    margin-bottom: 20px;
}
h5.card-title {
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
}

/* ====================================
hobbies css
==================================== */

.hobbie {
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.hobbie img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin-left: 20px;
    transition: .4s linear;
    background-repeat: no-repeat;
    background-size: cover;
}

.hobbie::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #48dafb98;
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);

}

.hobbie .info {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: rgba(14, 14, 14, 0.952);
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);
}

.hobbie:hover img {
    transform: scale(1.6) rotate(25deg);
}

.hobbie:hover::before,
.hobbie:hover .info {
    opacity: 1;
    transform: scale(1);
}


/* ====================================
contact css
==================================== */
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover {
    background-color: #023d4b;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
}

.nameZone,
.emailZone {
    max-width: calc(50% -10px);
}

.messageZone {
    min-height: 200px;
    resize: vertical;
}

.contact-form .btn {
    width: 180px;
    background-color: transparent;
    color: #42dbfb;
    font-size: 16px;
    border: 2px solid #42dbfb;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
}

.contact-form .btn:hover {
    background-color: #42dbfb;
    color: #fff;
}

/* ====================================
footer css
==================================== */

footer {
    background-color: #353b48;
    color: #fff;
    padding: 20px 0px;
}

.copyright {
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a {
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
    text-decoration: none;
}

.fa-facebook {
    color: #4267B2 !important;
    font-size: 40px !important;
}

.fa-twitter {
    color: #1DA1F2 !important;
    font-size: 40px !important;
}

.fa-instagram {
    color: #C13584 !important;
    font-size: 40px !important;
}

.fa-linkedin {
    color: #0e76a8 !important;
    font-size: 40px !important;
}

#footer {
    background-color: #353b48;
}

.footers {
    text-align: center;
    padding: 20px 0px;

    color: #ffffff;
}

.goto-part .goTop {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #48dbfb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}

@media screen and (max-width:480px) {
#home .content h1 {
    font-size: 28px!important;
}
}
@media screen and (max-width:576px) {
    .service {
        width: calc(85% - 0px)!important;
    }

    }

@media screen and (max-width:768px) {
.skills {
    flex-direction: column!important;
    margin: 20px 0!important;
}
.skill {
    width: calc(100% - 0px)!important;
   
}
.hobbies {
    flex-direction: column!important;
    margin: 20px 0!important;
}
.hobbie {
    width: calc(100% - 0px)!important;
}

.contact-info .item {
    width: calc(100% - 0px)!important;
    margin-bottom: 20px!important;
}
    #home .content h1 {
        font-size: 40px;
    }
    .about-content .about-text h2 {
        font-size: 20px;
    }
    .about-text h3 {
        font-size: 13px;
    }
    .about-content .about-text p {
        font-size: 16px;
    }
    .service {
        width: calc(40% - 20px);
    }    
    .about-content {
        display: block;
        padding-top: 20px;
    }
    .about-content .about-text h2 {
        padding-top: 10px;
    }
}

